<h1><%= title %></h1>

<% if (messages() && messages().success) { %>
  <div class="flash-message success">
    <%= messages().success %>
  </div>
<% } else if (messages() && messages().error) { %>
  <div class="flash-message error">
    <%= messages().error %>
  </div>
<% } %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


  <% if (flash) { %>
    <% if (flash.notice) { %>
      <ul class="notice">
        <% flash.notice.forEach(msg => { %>
          <li><%= msg %></li>
        <%  }) %>
      </ul>
    <% } %>
  <% } %>



  <div>
    <label for="classificationName">Classification Name:</label>
    <input type="text" id="classificationName" name="classification_name" required>
</div>


  <form action="/inv/add-inventory" method="POST">
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" name="inv_price" required value="<%= locals.inv_price %>">
    </div>
    <div>
      <label for="miles">Miles:</label>
      <input type="number" id="miles" name="inv_miles" required value="<%= locals.inv_miles %>">
    </div>



    <div>
      <label for="classification">Classification:</label>
      <select id="classification" name="classification_id" required value="<%= locals.classification_id %>">
        <option value="1">Classification 1 Need to populate from databse Nav? </option>
      </select>
    </div>



    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="inv_description" required value="<%= locals.inv_description %>"></textarea>
    </div>
    <div>
      <label for="image">Image:</label>
      <input type="text" id="image" name="inv_image" required value="<%= locals.inv_image %>">
    </div>
    <div>
      <label for="thumbnail">Thumbnail:</label>
      <input type="text" id="thumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">
    </div>
    <div>
      <label for="color">Color:</label>
      <input type="text" id="color" name="inv_color" required value="<%= locals.inv_color %>">
    </div>
    <div>
      <label for="make">Make:</label>
      <input type="text" id="make" name="inv_make" required value="<%= locals.inv_make %>">
    </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="inv_model" required value="<%= locals.inv_model %>">
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="inv_year" required value="<%= locals.inv_year %>">
    </div>
    <div>
      <button type="submit">Add Vehicle</button>
    </div>
  </form>